<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>966790037769-i7rqnhdg3hilqbh92fapso83jrgqkkoe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.966790037769-i7rqnhdg3hilqbh92fapso83jrgqkkoe</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>966790037769-q67tq2m3lnf9oe1b63smr7jevg1hh8iu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCsybfMSAzztL7VQQoYEF83niLQal0OwkI</string>
	<key>GCM_SENDER_ID</key>
	<string>966790037769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kairotasks.kairotasks</string>
	<key>PROJECT_ID</key>
	<string>kairotasks</string>
	<key>STORAGE_BUCKET</key>
	<string>kairotasks.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966790037769:ios:c8066cc7f0d9a22f1213d8</string>
</dict>
</plist>